/both_ex*/
/cover*/
/demo*/
/memory*/
/mixed*/
/preunsat*/
/prv32fmcmp*/
/redxor*/
/stopfirst*/
/junit_*/
/keepgoing_*/
/submod_props*/
/multi_assert*/
/aim_vs_smt2_nonzero_start_offset*/
/invalid_ff_dcinit_merge*/
/2props1trace*/
