name: ci
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: YosysHQ/setup-oss-cad-suite@v1
      - name: Run checks
        run: tabbypip install xmlschema && make ci
